:root{
  --green: rgb(16,144,69);;
  --font: 'Oswald', sans-serif;
  --headBckgroud: rgb(252,237,198);
}
h1{
  font-family: 'Press Start 2P', cursive;
  font-family: var(--font);

}
.jumbotron{
  background-color: var(--headBckgroud);
  color: var(--green);
  font-family: var(--font);


}
.jumbotron p{
  padding-left: 8%;
  font-weight: bold;
}
.avatar {
    vertical-align: middle;
    width: 75px;
    height: 75px;
    border-radius: 40%;
  }

 

main img {
 
width: 250px;
height: 200px;

border: 4x solid black;
}


main h1 {width: 100%;text-align: center;}

.card{
  padding: 0%;
  margin: 0%;
}
.smallCard{
  display: inline-flex;
  float: left;
  flex-wrap:wrap;
  flex-direction: row;
  flex: 2;
  width: 100%;
  margin-bottom: 5px;
  border: 2px black solid;
}

.card-body {

height:fit-content;

}


#selectable {
display:  flex;
flex-wrap: wrap;
flex-direction: row;
width: 100%;
} 

#selectable div {

width: 200px;
height: 200px;
border: 2px black solid;

}


#selectable img {
  width: 150px;
  height: 150px;
}

#selectable h3 {

text-align: center;

}


#signInBtn{
  margin-left: 90%;
  background-color: var(--green);
}
#submitBtn{
  background-color:  var(--green);
}
.card-header {
 color:  var(--green);
 font-family: var(--font);
}
.footer {
  background-color: var(--headBckgroud);
  font-family: var(--font);
  color: var(--green);
  text-align: center;
  width: 100%;
}

.footer a{
  color: var(--green);
  text-align: center;
  text-decoration: none;
}