
h1{
    color: blueviolet;
}
.avatar {
    vertical-align: middle;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  .footer {
    color: black;
    text-align: center;
    width: 100%;
}
.card{
  padding: 0%;
  margin: 0%;
}
.smallCard{
  display: inline-flex;
  float: left;
  flex-wrap:wrap;
  flex-direction: row;
  flex: 2;
  width: 100%;
  margin-bottom: 5px;
}