
h1{
    color: blueviolet;
}
.avatar {
    vertical-align: middle;
    width: 65px;
    height: 65px;
    border-radius: 50%;
  }

  .footer {
    color: black;
    text-align: center;
    width: 100%;
}